<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Welcome to {{ title }}!</h1>
    </mat-toolbar-row>
</mat-toolbar>

<section id="case-1">
    <input [formControl]="control">
</section>
<section id="case-1-search-results">
    <mat-card class="example-card" *ngFor="let show of searchResults$ | async">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{show?.name}}</mat-card-title>
            <mat-card-subtitle>{{show.network?.name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image *ngIf="show.image" [src]="show.image?.original" alt="Photo of a Shiba Inu">
        <mat-card-content>
            {{show.summary}}
        </mat-card-content>
    </mat-card>
</section>

<router-outlet></router-outlet>
