<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Welcome to {{ title }}!</h1>
    </mat-toolbar-row>
</mat-toolbar>

<section id="assignment-2">
    <div>
        <h2>assignment 2.1</h2>
        {{myProperty$ | async | json}}
    </div>

    <div>
        <h2>assignment 2.2</h2>
        {{myModifiedProperty$ | async | json}}
    </div>
</section>

<section id="assignment-3">
    <div>
        <h2>assignment 3.1</h2>
        {{mySideEffect$ | async | json}}
    </div>

    <div>
        <h2>assignment 3.2</h2>
        <div>{{myShow$ | async | json}}</div>
        <div>{{myShow$ | async | json}}</div>
        <div>{{myShow$ | async | json}}</div>
    </div>

    <div>
        <h2>assignment 3.3</h2>
        {{mySubject | async | json}}
    </div>
</section>

<router-outlet></router-outlet>
