<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Welcome to {{ title }}!</h1>
    </mat-toolbar-row>
</mat-toolbar>

<section id="assignment-1">
    <div>
        <h2>assignment 2.1</h2>
        {{myProperty$ | async}}
    </div>

    <div>
        <h2>assignment 2.2</h2>
        {{myModifiedProperty$ | async}}
    </div>
</section>


<section id="assignment-2">
    <div>
        <h2>assignment 3.1</h2>
        {{mySideEffect$ | async}}
    </div>

    <div>
        <h2>assignment 3.2</h2>
        <div>{{myShow$ | async}}</div>
        <div>{{myShow$ | async}}</div>
        <div>{{myShow$ | async}}</div>
    </div>

    <div>
        <h2>assignment 3.3</h2>
        {{mySubject | async}}
    </div>
</section>

<section id="assignment-3">
    <div>
        <h2>assignment 4.1</h2>
        {{show$}}
    </div>

    <div>
        <h2>assignment 4.2</h2>
        {{shows$}}
    </div>

    <div>
        <h2>assignment 4.3</h2>
        {{show$}}
    </div>
</section>


<router-outlet></router-outlet>
